@import url('https:/fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
}


body {
  font-family: "Roboto Condensed" sans-serif;
  width: 100vw;
}
/*****************NAVBAR************************************/
.navbar {
  position: fixed;
  z-index: 2;
  background-color: black;
}

.logo {
  width: 16.25rem;
}



/************************MENU LINKS****************************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: 0.8rem;
  color: black;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.55rem;
  margin-left: 0.55rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5.5rem;
}

/************************HOME*************************/
